{% extends './base.html.j2' %}
{% block title %}
Students
{% endblock %}

{% block css %}
<link rel='stylesheet' href="../static/css/students.css">
{% endblock %}

   {% block content %}
    <h1>Me & My Cohort</h1>
    <ul>
        {% for student in students %}
        {% if student == 'caleb' %}
        <li>{{ student | title }} - in the dog house!</li>
        {% else %}
         <li>{{ student | title }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}